<%-include('../../dashboard/header')-%>

<div class=" col-md-4">
    <div  class="date-picker-2" placeholder="Recipient's username" id="ttry" aria-describedby="basic-addon2"></div>
  <br>
  <div id="timeslot" class="table-bordered" style="width:auto;height:auto;">
        <div class="d-flex justify-content-center"><h5>Appointment Slot</h5></div>
     <div class="row mx-0" id="book" >
        
     </div>
    </div>

<%-include('../../dashboard/footer')-%>