<!-- begin snippet: js hide: false console: true babel: false -->
<!-- language: lang-html -->
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<style>
.popover {
    left: 40% !important;
}
.btn {
    margin: 1%;
}
</style>
</head>
<body>
    <div class=" col-md-4">
      <div  class="date-picker-2" placeholder="Recipient's username" id="ttry" aria-describedby="basic-addon2"></div>
      <!-- <span class="" id="example-popover-2"></span> </div>
    <div id="example-popover-2-content" class="hidden"> </div> -->
    <br>
    <div id="timeslot">
        <table class="table table-responsive table-bordered">
            <tbody class="tbdy">
                
            </tbody>
         </table>
    </div>
<script>
$(document).ready(()=>{    
    $("#timeslot").hide();
// $('.date-picker-2').popover({
//     html : true, 
//     content: function() {
//       return $("#example-popover-2-content").html();
//     },
//     title: function() {
//       return $("#example-popover-2-title").html();
//     }
// });
$(".date-picker-2").datepicker({
    dateFormat: 'yy-mm-dd'
});
$(".date-picker-2").on("change", function () {
    $("#timeslot").hide();
        var fromdate = $(this).val();
        alert(fromdate);
        $.ajax({
            method:"post",
            url   :"http://localhost:3000/api/v1/appointment/fetch",
            data  :{"date":fromdate},
            success:function(data){
               console.log(data.data);
               if(data.data){
                  $("#timeslot").show();
                  let x = ['09:00-09:15','09:15-09:30','09:30-09:45','09:45-10:00','10:00-10:15','10:15-10:30',
                 '10:30-10:45','10:45-11:00','11:00-11:15']
                  $.each(data.data,(index,value)=>{
                      console.log(x[index],value.slottime);
                      if(value.slottime==x[index]){
                        $(".tbdy").append('<tr><td><button class="disabled btn btn-danger">'+value.slottime+'</button></td><tr>')
                      } 
                      else{
                        $(".tbdy").append('<tr><td><button class="btn btn-success">'+x[index]+'</button></td><tr>')
                      }
                  })
               }
            },
            error:function(err){
                console.log('error',err);
            }
        });
    });
});
</script> 
</body>
</html>