<!-- begin snippet: js hide: false console: true babel: false -->
<!-- language: lang-html -->
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<style>
.popover {
    left: 40% !important;
}
.btn {
    margin: 1%;
}
</style>
</head>
<body>
    <div class=" col-md-4">
      <div  class="date-picker-2" placeholder="Recipient's username" id="ttry" aria-describedby="basic-addon2"></div>
      <!-- <span class="" id="example-popover-2"></span> </div>
    <div id="example-popover-2-content" class="hidden"> </div> -->
    <br>
    <div id="timeslot">
        <table class="table table-responsive table-bordered">
            <tbody class="tbdy">
                <tr>
                    <td><button>09:00-09:15</button></td><td><button>09:15-09:30</button><td><button>9:30-9:45</button></td><td><button>9:45-10:00</button></td></td>
                </tr>
            </tbody>
         </table>
    </div>
<!-- <script>
$(document).ready(()=>{    
    $("#timeslot").hide();
// $('.date-picker-2').popover({
//     html : true, 
//     content: function() {
//       return $("#example-popover-2-content").html();
//     },
//     title: function() {
//       return $("#example-popover-2-title").html();
//     }
// });
$(".date-picker-2").datepicker({
    dateFormat: 'yy-mm-dd'
});
$(".date-picker-2").on("change", function () {
    $("#timeslot").hide();
        var fromdate = $(this).val();
        alert(fromdate);
        $.ajax({
            method:"post",
            url   :"http://localhost:3000/api/v1/appointment/fetch",
            data  :{"date":fromdate},
            success:function(data){
               console.log(data.data);
               if(data.data){
                  $("#timeslot").show();
              
               }
            },
            error:function(err){
                console.log('error',err);
            }
        });
    });
});
</script>  -->
</body>
</html>